<nav id="sidebar" [class.active]="isclass">
    <div class="sidebar-header">
        <h4><mat-icon>segment</mat-icon> Services</h4>
    </div>

    <ul class="list-unstyled components">


        <li>
            <a routerLink="/manager/roomlist"> <mat-icon> Rooms </mat-icon> Rooms</a>
        </li>
      
       
        <li>
            <a routerLink="/manager/guest"><mat-icon> account_circle  </mat-icon> Guest</a>
            
        </li>
        <li>
            <a routerLink="/manager/staff"><mat-icon> person_add </mat-icon> Staff</a>
            
        </li>
    </ul>
</nav>

