
<nav id="sidebar" [class.active]="isclass">
    <div class="sidebar-header">
        <h4><mat-icon>segment</mat-icon> Services</h4>
    </div>

    <ul class="list-unstyled components">


    
       
        <li>
            <a routerLink="/owner/guest"><mat-icon>account_circle  </mat-icon> Guest</a>
            
        </li> 

          
        <li>
            <a routerLink="/owner/staff"><mat-icon> Staff</mat-icon> Staff</a>
            
        </li> 
  
        <li>
            <a routerLink="/owner/roomlist"><mat-icon> Room </mat-icon> Room</a>
            
        </li> 
        <li>
            <a routerLink="/owner/setrates"><mat-icon> Setrates </mat-icon> Setrates</a>
            
        </li> 



        
    </ul>
</nav>

